<div class="container">
    <form #userForm="ngForm">
      <div class="form-group">
        <label for="identifyer">Usuário:</label>
        <input type="number" class="form-control" id="identifyer" [(ngModel)]="model.id" name="id" required>
      </div>
      <button type="button" class="btn btn-default" [disabled]="!userForm.form.valid" (click)="getPositions();">Enviar</button>
      
      <p *ngIf="model.availablePositionsJson">
      	O usuário possui {{model.availablePositionsJson.length}} vagas disponíveis.
      </p>
    </form>
</div>